

* {
    -webkit-appearance: none;
}

a {
    color: #E3E3E3;
    font-family: Source Han Serif JP, serif;
}

button,
input[type="submit"] {
    -webkit-appearance: none;
    border: none;
    background: none;
}

input[type="text"] {
    border: 1px solid;
    -webkit-appearance: none;
}

.main0 {
    /* position: relative; */
    /* width: 1440px; */
    /* height: 1024px; */
    width: 100%;
    height: 100vh;
    background: #FCF9FB;
}

.main0 .frame0 {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: -49px;
}

.main0 .frame1 {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: -62px;
}



.my_title {
    /* ＃ふたりて書く官能小説 */
    position: fixed;
    width: 30px;
    height: 328px;
    left: 12%;
    /* left: 193px; */
    top: 200px;

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    /* or 100% */
    font-feature-settings: 'vert'on;

    color: #3F3643;
}

/* .ellipse {} */

.my_bookbinding_ellipse {
    position: fixed;
    /* width: 30px; */
    /* width: 67px; */
    /* height: 67px; */
    left: 12%;
    top: 550px;
    /* left: 193px; */

    /* background: #3F3643; */
}

.my_bookbinding {
    /* 製本する */
    -webkit-appearance: none;

    position: fixed;
    width: 20px;
    height: 60px;
    left: calc(12% + 3px);
    /* left: 196px; */
    top: 554px;

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    /* or 100% */
    font-feature-settings: 'vert'on;

    color: #FCF9FB;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    border: none;
    background: none;

    cursor: pointer;
}

.my_create_ellipse {
    position: fixed;
    /* width: 30px; */
    /* height: 67px; */
    /* transform: scale(0.5, 1.0); */
    /* left: 193px; */
    left: 12%;
    top: 637px;

    /* background: #3F3643; */
}

.my_create {
    /* 作成する */
    -webkit-appearance: none;
    position: fixed;
    width: 20px;
    height: 60px;
    /* left: 196px; */
    left: calc(12% + 3px);
    top: 641px;

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    /* or 100% */
    font-feature-settings: 'vert'on;

    color: #FCF9FB;

    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    border: none;
    background: none;

    cursor: pointer;
}



.my_create_modal .title {
    /* 合言葉で小説をはじめる。 */
    position: absolute;
    width: 200px;
    height: 23px;
    left: 20px;
    top: 16px;

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;

    /* -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; */

    color: #FDFAFC;
}


.esc {
    position: absolute;
    left: 89.06%;
    right: 6.25%;
    top: 11.54%;
    bottom: 79.81%;

    color: #FDFAFC;
    background: none;
    /* background: #FDFAFC; */
    cursor: pointer;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    position: absolute; 
    top: 170px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
}

.flex_item {
    position: relative;
    /* flex-grow: 3; */
    /* flex-shrink: 2; */
    flex-basis: 50px;
    max-width: 30%;
    max-height: 30%;
    min-width: 200px;
    min-height: 200px;
    margin: 10px 10px 10px 10px;
}

.story_img {
    width: 100%;
    height: 100%;
}

.story_mask:hover {
    opacity: 0.9;
}


.story_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(255, 0, 0, 0.37); */
    opacity: 0.3;
}

.story_title {
    position: absolute;
    display: inline-block;
    /* position: relative; */
    /* width: 16px; */
    /* height: 100px; */
    width: auto;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* or 100% */
    font-feature-settings: 'vert'on;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    color: #FFF5F5;
}

.main1 {
    width: 100%;
    height: 100vh;
    background: #3F3643
}

.edit {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%, 0);
    /* width: 932px; */
    /* height: 684px; */
    /* left: 254px; */
    /* top: 170px; */

    /* width: 60%; */
    width: 800px;
    height: 60%;
    min-height: 450px;

    background: #FCF9FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#edit_word {
    position: absolute;
    width: 18px;
    height: auto;
    left: calc(100% - 100px);
    top: 50px;
    /* width: 18px;
    height: 128px;
    left: 1112px;
    top: 234px; */

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */
    font-feature-settings: 'vert'on;

    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    color: #000000;
}

#edit_meaning {
    position: absolute;
    width: 9px;
    height: 89px;
    left: calc(100% - 70px);
    top: 50px;
    /* left: 1134px;
    top: 234px; */

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 9px;
    /* or 100% */
    font-feature-settings: 'vert'on;

    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    color: #000000;
}

#edit_key {
    position: relative;
    top: 480px;
    color: #E3E3E3;
    font-family: Source Han Serif JP, serif;
    cursor: pointer;
}
#edit_key a {
    color: #E3E3E3;
    font-family: Source Han Serif JP, serif;
    pointer-events: auto;
}

.edit_script {
    position: absolute;
    right: 200px;
    top: 50px;

    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;

    width: 100%;

    word-break: break-all;

    /* left: 974px; */
    /* top: 234px; */
}

.edit_script .sentence {
    margin-left: 80px;
    /* margin-left: 5vw; */

    height: auto;
    width: 13px;
    /* line-height: 13px; */
    /* or 100% */
    word-break: break-all;
    font-feature-settings: 'vert'on;

    color: #000000;
}

#sentence {
    position: absolute;
    left: 0px;
    top: -100px;
    width: 400px;
    height: 80px;

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    /* line-height: 13px; */
    /* or 100% */
    font-feature-settings: 'vert'on;
    color: #000000;

    resize: none;
    /* 
    writing-mode: initial;
    transform: rotate(90deg);
    transform-origin: top left;

    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; */
}

#update {
    position: absolute;
    width: 20px;
    height: 30px;
    left: 422.5px;
    top: -52px;

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    /* or 100% */
    font-feature-settings: 'vert'on;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #000000;

    cursor: pointer;
}

.update_ellipse {
    position: absolute;
    /* width: 30px; */
    /* height: 44px; */
    /* left: 193px;
    top: 860px; */
    /* left: -42.5px; */
    /* bottom: 23px; */
    left: 420px;
    top: -60px;

    /* background: #FCF9FB; */
}

#submit {
    position: absolute;
    width: 20px;
    height: 30px;
    left: -40px;
    bottom: -30px;

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    /* or 100% */
    font-feature-settings: 'vert'on;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #000000;

    cursor: pointer;
}

.submit_ellipse {
    position: absolute;
    /* width: 30px; */
    /* height: 44px; */
    /* left: 193px;
    top: 860px; */
    left: -42.5px;
    bottom: -37px;

    /* background: #FCF9FB; */
}

#status {
    position: absolute;
    width: 30px;
    height: 100px;

    top: -98px;
    left: -40px;

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    /* or 100% */
    font-feature-settings: 'vert'on;

    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    color: #E3E3E3;
}

#edit_msg {
    /* ＊書き終わったら、左下の「入稿」ボタンをタッチしてください。 */

    position: absolute;
    width: 10px;
    height: 539px;
    right: -60px;
    top: 0;
    /* left: 1209px; */
    /* top: 169px; */

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* or 100% */
    font-feature-settings: 'vert'on;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #E3E3E3;
}

#ex_sentence {
    position: relative;
    /* position: absolute; */
    left: -100px;
    top: 23px;
    display: none;
    line-height: 80px;
    height: 80%;

    word-break: break-all;
}

#help_close {
    color: #000000;
    margin-bottom: 10px;
    cursor: pointer;
}

#help {
    position: absolute;
    top: 100%;
    left: calc(100% - 30px);
    color: #E3E3E3;
    cursor: pointer;

}

#add_love {
    position: absolute;
    width: 60px;
    height: 20px;
    left: -56px;
    bottom: -28px;

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 8px;
    /* or 100% */
    /* font-feature-settings: 'vert'on;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; */
    color: #000000;

    cursor: pointer;
}


#tweet {
    position: absolute;
    width: 60px;
    height: 20px;
    left: -116px;
    bottom: -28px;

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 8px;
    /* or 100% */
    /* font-feature-settings: 'vert'on;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; */
    color: #000000;

    cursor: pointer;
}

.tweet_ellipse {
    position: absolute;
    left: -102.5px;
    bottom: -37px;
}

#color_select {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: #000000;
    width: 300px;
    height: 440px;
}
#picker {
    border: none;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 30px;
}

#color_select #code {
    position: fixed;

    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */

    font-family: Source Han Serif JP, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* or 100% */
    font-feature-settings: 'vert'on;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    color: #000000;
}
#color_submit {
    color: #000000;
    background-color: #fff;
    width: 50px;
    height: 30px;
    border: solid 1px #E3E3E3;
    border-radius: 50%;

    cursor: pointer;
}
#editor {
    display: block;
}