* {
    -webkit-appearance: none;
}
button,
input {
    -webkit-appearance: none;
}
.main0 {
    position: relative;
    width: 1440px;
    height: 1024px;
    /* width: 100%; */
    /* height: 100%; */
    background: #FCF9FB;
}

.main0 .frame0 {
    position: absolute;
    width: 1258px;
    height: 1425px;
    left: 1349px;
    top: 49px;

    border: 1px solid #000000;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.main0 .frame1 {
    position: absolute;
    width: 1235px;
    height: 1399px;
    left: 1337px;
    top: 62px;

    border: 1px solid #000000;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.my_title {
    /* ＃ふたりて書く官能小説 */
    position: absolute;
    width: 30px;
    height: 328px;
    left: 193px;
    top: 400px;

    font-family: Source Han Serif JP;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    /* or 100% */
    font-feature-settings: 'vert'on;

    color: #3F3643;
}

.my_bookbinding_ellipse {
    position: absolute;
    width: 30px;
    height: 67px;
    left: 193px;
    top: 750px;

    background: #3F3643;
}

.my_bookbinding {
    /* 製本する */

    position: absolute;
    width: 13px;
    height: 50px;
    left: 201px;
    top: 757px;

    font-family: Source Han Serif JP;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    /* or 100% */
    font-feature-settings: 'vert'on;

    color: #FCF9FB;
}

.my_create_ellipse {
    position: absolute;
    width: 30px;
    height: 67px;
    left: 193px;
    top: 837px;

    background: #3F3643;
}

.my_create {
    /* 作成する */
    position: absolute;
    width: 13px;
    height: 50px;
    left: 201px;
    top: 844px;

    font-family: Source Han Serif JP;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    /* or 100% */
    font-feature-settings: 'vert'on;

    color: #FCF9FB;
}

.my_create_modal {
    /* モーダル/作成する */

    position: absolute;
    width: 192px;
    height: 104px;
    left: 624px;
    top: 460px;

    background: #3F3643;

    /* display: none; */
}

.my_create_modal .title {
    /* 合言葉で小説をはじめる。 */
    position: absolute;
    width: 145px;
    height: 23px;
    left: 20px;
    top: 16px;

    font-family: Source Han Serif JP;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;

    color: #FDFAFC;
}

.my_create_modal .form0 {
    position: absolute;
    width: 100px;
    height: 15px;
    left: 20px;
    top: 48px;

    background: #FDFAFC;
}

.my_create_modal .form1 {
    position: absolute;
    width: 100px;
    height: 15px;
    left: 20px;
    top: 69px;

    background: #FDFAFC;
}

.my_create_modal .btn0 {
    position: absolute;
    width: 15px;
    height: 33px;
    left: 132px;
    top: 63px;

    background: #FCF9FB;
    transform: rotate(-90deg);

    /* つくる */

    position: absolute;
    width: 24.32px;
    height: 7.5px;
    left: 136.46px;
    top: 49.25px;

    font-family: Source Han Serif JP;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
    font-feature-settings: 'vert'on;

    color: #3F3643
}

.my_create_modal .btn1 {
    position: absolute;
    width: 15px;
    height: 44px;
    left: 132px;
    top: 84px;

    background: #FCF9FB;
    transform: rotate(-90deg);
    /* あわせる */

    position: absolute;
    width: 32.42px;
    height: 7.5px;
    left: 137.95px;
    top: 70.25px;

    font-family: Source Han Serif JP;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
    font-feature-settings: 'vert'on;

    color: #3F3643;
}

.my_create_modal .esc {
    position: absolute;
    left: 89.06%;
    right: 6.25%;
    top: 11.54%;
    bottom: 79.81%;

    background: #FDFAFC;
}